
/* Individual feature styling with flexbox for layout */
.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.featuretext {
  color:  var(--ifm-color-success);
  font-weight: bold;
}

/* Icon styling */
.icon {
  font-size: 3rem;
  flex-shrink: 0; /* Prevent icon from shrinking */
}

/* Text container for the feature */
.text {
  display: block; /* Ensure the text container is block-level */
  flex-grow: 1; /* Text should take the remaining space */
}

/* Title styling for each feature */
.title {
  font-size: 1.125rem; /* 18px = 1.125rem */
  margin-bottom: 0.5rem; /* 8px = 0.5rem */
  display: block; /* Ensure title is block-level */
}

/* Description styling */
.description {
  font-size: 1rem; /* 16px = 1rem */
  display: block; /* Ensure description is block-level */
}